@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.navbarShadow {
    box-shadow: 0 5px 5px -5px rgba(51, 51, 51, 0.25);
}

.notifications {
    padding-top: 15px !important;
    padding-bottom: 14px !important;
}

.itemNav {
    /* color: red !important; */
    font-size: 1.5vw;
    padding: 0px;
    margin: 0px;
    height: 100%;
    border-right: 2px solid #f5f5f5;
    width: 10rem;
    background-color: #fcfcfc;
}

.drop :hover{
    color: #1e2125;
    background-color: #e9ecef !important;
    box-shadow: none !important;
}

.itemNav :hover {
    background-color: #ffffff; 
    box-shadow: 5px 0 5px -5px rgba(51, 51, 51, 0.4), -5px 0 5px -5px rgba(51, 51, 51, 0.4);
}

.containerNavbar {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.dropdown-menu {
    font-family: 'Roboto', sans-serif;
    border-radius: 0 !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    padding: 17px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}



.dropdown-item {
    width: 100% !important;
    font-family: 'Roboto', sans-serif;
}

.dropdown-item :hover {
    background-color: #e9ecef !important;
    box-shadow: none !important;
}

.aCard {
    text-decoration: none;
}

@media (max-width: 977px) {
    .navDropdownItems {
        width: 100%;
    }

    .nav-link {
        width: 100%;
        font-size: 2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .itemNav {
        border-right: none;
        border-bottom: 2px solid #f5f5f5;
        width: 100%;
    }

    .navWrapper {
        width: 100%;

    }

    .navbarCollapse {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    
    .userCardBell {
        order: -1;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border-bottom: 2px solid #f5f5f5;
        border-top: 2px solid #f5f5f5;
        border-left: none
    }

    .userProfileWrapper, .CardBootstrap {
        width: 100%;
    }

    .CardBootstrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .NameUserProfile {
        font-size: 2.5vw !important;
        /* font-weight: 100 !important; */
        font-family: 'Roboto', sans-serif !important;
    }

}
