.chooseType {
  background: #1c1a1a;
  border-radius: 0 0 10px 10px;
  text-align: center;
  
  p {
    cursor: pointer;
    padding: 5px;
    transition: .2s;
    
    &:hover {
      background: #4b4a4a;
    }
  }
}

.searchItem {
  cursor: pointer;
  transition: .2s;
  
  &:hover {
    background: #000;
  }
}

.createTrackDetailLink{
  cursor: pointer;
  text-decoration: underline;
}