.chooseType {
  background: #f0f0f0;
  border-radius: 0 0 10px 10px;
  text-align: center;
  
  p {
    cursor: pointer;
    padding: 5px;
    transition: .2s;
    
    &:hover {
      background: #fff;
    }
  }
}

.createTrackDetailLink{
  cursor: pointer;
  text-decoration: underline;
}