@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

.fourth {
    font-family: 'Open Sans', sans-serif;
    border-color: rgb(255, 206, 71);
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, rgb(255, 206, 71) 50%, transparent 50%);
    background-image: linear-gradient(45deg, rgb(255, 206, 71) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.fourth:hover {
    background-position: 0;
}
