.track {
    display:block;
    width:200px;
    height:200px;
    text-align:center;
    background:#f0f0f0;
    margin:10px;
    border-radius:8px;
    padding:0 0 15px 0
}
.track-title {
    padding:5px;
    background:rgba(0,0,0,.2);
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center
}
.track-list {
    display:flex;
    flex-wrap:wrap;
    align-items:center
}