@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
}
@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
