@font-face {
  font-family: 'Raleway';
  src: url('https://fonts.googleapis.com/css?family=Andada|Permanent+Marker|Raleway:300');
}
@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
