@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

h1-colored {
    color: rgb(208, 90, 80);
}

.helloWrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.wrapper {
    margin-top: 5%;
    width: 100%;
    height: 100%;
}

.line__1,
.line__2 {
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif !important;
    margin-right: auto;
}

.line__1 {
    border-right: 2px solid rgba(17, 17, 17, 0.0);

    /* define animation types for text + cursor */
    animation: animated-text__1 2s steps(44, end) 1s 1 normal both,
    animated-cursor__1 900ms steps(44, end) 3;
}

.line__2 {
    border-right: 2px solid rgba(17, 17, 17, 0.0);

    /* define animation types for text + cursor */
    animation: animated-text__2 2s steps(44, end) 1s 1 normal both,
    animated-cursor__2 900ms steps(44, end) infinite;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@keyframes animated-cursor__1 {
    from {
        border-right-color: rgba(17, 17, 17, 0.0);
    }
    to {
        border-right-color: rgba(255, 255, 255, 0.8);
    }
}

@keyframes animated-cursor__2 {
    from {
        border-right-color: rgba(17, 17, 17, 0.0);
    }
    to {
        border-right-color: rgba(255, 255, 255, 0.8);
    }
}

@keyframes animated-text__1 {
    from {
        width: 0;
    }
    to {
        width: 50rem;
    }
}

@keyframes animated-text__2 {
    from {
        width: 0;
    }
    to {
        width: 56rem;
    }
}
