@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.helloWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 0px !important;
}

.hello {
    /* font-family: 'Roboto', sans-serif; */
    position: absolute;
	top: 140px;
	left: 0;
	width: 100%;
    font-family: Arial,Helvetica,sans-serif;
    padding-left: 4rem;
    padding-right: 4rem
}

.main-image {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}

.main-wrapper {
    color: rgba(255,255,255,0.75);
    padding-top: 0px;
    padding-bottom: 2px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
}

.main {
    background-color: #1d2024;

}