.cardPreviewText {
    padding-top: 25px;
}

.cardContent {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 35px;
    padding-right: 35px;
}

.cardPublished {
    padding-top: 25px;
}