.itemNav {
    /* color: red !important; */
    font-size: 1.5vw;
    padding: 0;
    margin: 0;
    height: 63px;
    border-right: 2px solid #2c3034 !important;
}
#basic-nav-dropdown::after{
    display: none;
}
.itemNav :hover {
    background-color: #2c3034 !important;
    box-shadow: 2px 2px 5px 1px #00000033;
}

.containerNavbar {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

.nav-link {
    padding: 17px !important;
}

.dropdown-item{
    background-color: #232b2f;
    color: #c5c9cc;
}

.dropdown-item.active{
    background-color: #272e34 !important;
}

.dropdown-menu{
    background-color: #232b2f;
    color: #c5c9cc !important;
}

.dropdown-item:hover {
    background-color: #2c3034 !important;
    box-shadow: none !important;
    color: #ffffff;
}

.aCard {
    text-decoration: none;
    background-color: #2c3034 !important;
    color: #c5c9cc !important;
}

@media (max-width: 977px) {
    .navDropdownItems {
        width: 100%;
    }

    .nav-link {
        width: 100%;
        font-size: 2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .itemNav {
        border-right: none;
        border-bottom: 2px solid #2c3034 !important;
        width: 100%;
    }

    .navWrapper {
        width: 100%;

    }

    .navbarCollapse {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    
    .userCardBell {
        order: -1;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border-bottom: 2px solid #2c3034 !important;
        border-top: 2px solid #2c3034 !important;
        border-left: none;
        background-color: #2c3034 !important;
    }

    .userProfileWrapper, .CardBootstrap {
        width: 100%;
    }

    .CardBootstrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .NameUserProfile {
        font-size: 2.5vw !important;
    }

}
